@import 'src/resources/styles/mixin';

.not-found {
  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

  .title {
    font-size: 100px;
    font-weight: bold;
  }

  .subtitle {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  @include lessThan('md') {
    .title {
      color: red;
    }
  }

  @include lessThan('sm') {
    .title {
      transform: rotate(180deg);
      background-color: blue;
      font-size: 50px;
    }
  }
}
